.luxuryContainer{
    background-color: hsl(179, 100%, 13%);
    border-radius:0 0 5px 5px;
    padding: 2em 48px;
    display: grid;
    grid-template-rows: repeat(4,auto);
    align-content: center;
}

.btnLuxury>button{
    color: hsl(179, 100%, 13%);
}
.btnLuxury>button:hover{
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

@media screen and (min-width:768px){
    .luxuryContainer{
        border-radius: 0 5px 5px 0;
    }
}